.LoginContainer{

    width: 400px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(52,51,50,255);
    color: aliceblue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(19, 19, 19);
}

@media (max-width: 600px) {
    .LoginContainer {
     width: 320px;
     height: 250px;
      }
  }

.logo{

display: flex;
align-items: center;
font-weight: bold;

}


.LoginCancel{
  
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

}