*{
    padding: 0%;
    margin: 0%;
}

.logo-Name {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9999;
  color: white;
  font-size: 24px;
border-bottom: 1px solid rgb(114, 112, 112);

}




.desc{

font-size: 14px;

}


.star{
    color: gold;
    
}


.username{
    font-size: 15px;
}

.date{
    font-size: 12px;
    display: flex;
    justify-content: end;
}

.popup {
    margin: 0;
    padding: 0;
   width: 300 px;
  }
  
  

  .popup .mapboxgl-popup-content {
    margin: 1px;
    padding: 1px;
    width: 400px;
    background: rgb(239, 68, 68);
  }

  .popup1 .mapboxgl-popup-content {
    background:rgba(52,51,50,255);
    color: rgb(174, 178, 183);
    width: 400px;
    border: 1px solid rgb(239, 68, 68);
  }

 
  
  
  
  select{
    background: rgba(52,51,50,255);
    color: rgb(174, 178, 183);
  }

  .textField{
    background: rgba(52,51,50,255);
    color: rgb(174, 178, 183);
  }

  form{
     background: rgba(52,51,50,255);
     color: rgb(174, 178, 183);
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }


  .buttons {

    position: absolute;
    top: 15px;
    right: 15px;

  }

  .logout{

    position: absolute !important;
    top: 15px;
    right: 15px;

  }

  .login{margin-right: 15px !important;  }